
textarea {
    resize: none;
    /* Запрещаем изменять размер */
}

article.add-advert {
    padding: 100px 0;
}

article.add-advert h2 {
    margin: 0 0 50px;
}
.select-color .radio label::before {
    content: "" !important;
    display: inline-block !important;
    position: absolute !important;
    width: 0 !important;
    height: 0 !important;
    left: 0 !important;
    margin-left: -20px !important;
    border: 1px solid #cccccc !important;
    border-radius: 50% !important;
    background-color: #fff !important;;
    -webkit-transition: border 0.15s ease-in-out !important;
    -o-transition: border 0.15s ease-in-out !important;
    transition: border 0.15s ease-in-out !important;
}

.select-color .radio-color {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    /*text-align: center; */
}

label.select-color .radio-color {
    margin-bottom: 20px;
}

.select-color .radio-color > input[type=radio] {
    display: none;
}

.select-color .radio-color > input[type=checkbox] {
    display: none;
}

.select-color .radio-color > div {
    /*background: red; */
    /*border: solid 1px #ccc; */
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    vertical-align: middle;
}

.color-plus {
    display: none;
    text-align: center;
    font-size: 28px;
    line-height: 1.7;
    /*color:#fff;  */
}

.color-plus i {
    /* text-shadow: 0 0 8px rgba(0, 0, 0, 1); */
}

.select-color .radio-color > input[type=radio]:checked + div {
    /*border: solid 5px #ffc800; */
    /* box-shadow: 0 0 8px 3px rgba(255, 200, 0, 1);  */
}

.select-color .radio-color > input[type=radio]:checked + div .color-plus {
    display: block;
}
.select-color .radio-color > input[type=checkbox]:checked + div .color-plus {
    display: block;
}

.add-advert .select-color .radio {
    margin: 0;
}

.group-radio-color {
    margin: 50px 0;
    /* text-align: center;*/
}

/*
  .select-color .radio-label {
      margin-top: 10px;
  }
*/

.select-color .radio-label-color {
    margin-bottom: 10px;
}

.select-color .radio-color-white > div {
    background: #fff;
    border: 1px solid #ccc;
    /*margin-left:-20px;  */
    color: #333;
}

.select-color .radio-color-silver > div {
    background: #C1C1C1;
    color: #333;
}

.select-color .radio-color-beige > div {
    background: #FFEFD5;
    color: #333;
}

.select-color .radio-color-yellow > div {
    background: #FDE910;
    color: #333;
}

.select-color .radio-color-gold > div {
    background: #FABE00;
    color: #333;
}

.select-color .radio-color-orange > div {
    background: #FF9966;
    color: #333;
}

.select-color .radio-color-pink > div {
    background: #FFC0CB;
    color: #333;
}

.select-color .radio-color-red > div {
    background: #FF2600;
    color: #fff;
}

.select-color .radio-color-magenta > div {
    background: #CC1D33;
    color: #fff;
}

.select-color .radio-color-brown > div {
    background: #926547;
    color: #fff;
}

.select-color .radio-color-cyan > div {
    background: #0088ff;
    color: #fff;
}

.select-color .radio-color-blue > div {
    background: #0433FF;
    color: #fff;
}

.select-color .radio-color-purple > div {
    background: #9966CC;
    color: #fff;
}

.select-color .radio-color-green > div {
    background: #35BA2B;
    color: #fff;
}

.select-color .radio-color-grey > div {
    background: #9C9999;
    color: #fff;
}

.select-color .radio-color-black > div {
    background: #333;
    color: #fff;
}

.form-price {
    background: #f5f5f5 url('../img/background_grey2.png') repeat;
    border: 1px solid #dcdcdc;
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.form-group-price {
    white-space: nowrap;
    width: 90%;
}

.form-group-price i {
    font-size: 20px;
    margin-left: 13px;
}

.form-input-price {
    display: inline-block;
    white-space: nowrap;
}

.btn-add-advert {
    font-size: 20px;
}